In [ ]:
import pandas as pd
# trocar pelo caminho do seu drive
caminho = '/content/drive/MyDrive/Colab Notebooks/EDA/eda_aula/res/database/data/AC/DNAC2018.csv'

sinasc = pd.read_csv(caminho, dtype=str)

#transformacao dos dados
sinasc.PESO = pd.to_numeric(sinasc.PESO)
sinasc.IDADEMAE = pd.to_numeric(sinasc.IDADEMAE).astype(pd.Int64Dtype())
sinasc.IDADEPAI = pd.to_numeric(sinasc.IDADEPAI).astype(pd.Int64Dtype())
sinasc.QTDFILVIVO = pd.to_numeric(sinasc.QTDFILVIVO).astype(pd.Int64Dtype())
sinasc.QTDFILMORT = pd.to_numeric(sinasc.QTDFILMORT).astype(pd.Int64Dtype())
sinasc.APGAR1 = pd.to_numeric(sinasc.APGAR1).astype(pd.Int64Dtype())
sinasc.APGAR5 = pd.to_numeric(sinasc.APGAR5).astype(pd.Int64Dtype())
sinasc.SEMAGESTAC = pd.to_numeric(sinasc.SEMAGESTAC).astype(pd.Int64Dtype())
sinasc.CONSPRENAT = pd.to_numeric(sinasc.CONSPRENAT).astype(pd.Int64Dtype())
sinasc.SERIESCMAE = pd.to_numeric(sinasc.SERIESCMAE).astype(pd.Int64Dtype())
sinasc.QTDPARTCES = pd.to_numeric(sinasc.QTDPARTCES).astype(pd.Int64Dtype())
sinasc.QTDPARTNOR = pd.to_numeric(sinasc.QTDPARTNOR).astype(pd.Int64Dtype())
sinasc.QTDGESTANT = pd.to_numeric(sinasc.QTDGESTANT).astype(pd.Int64Dtype())

esc1 =  sinasc[(sinasc['ESCMAE'] == '1') & (sinasc['LOCNASC'] == '4') & (sinasc.PARTO.notna())][['IDADEMAE']]
esc2 =  sinasc[(sinasc['ESCMAE'] == '2') & (sinasc['LOCNASC'] == '4')][['IDADEMAE']]

In [ ]:
esc1.transpose()

          1955   2538   8218   10638  10796  15767  16252
IDADEMAE     23     29     23     26     19     29     26

In [ ]:
m1 = esc1.mean()
m1

IDADEMAE    25.0
dtype: float64

In [ ]:
esc2.transpose()

          2367   6276   7274   7289   8211   ...  8230   9105   10371  10545  10609
IDADEMAE     23     37     25     29     17  ...     26     18     16     34     29

[1 rows x 11 columns]

In [ ]:
m2 = esc2.mean()
m2

IDADEMAE    24.636364
dtype: float64

In [ ]:
# calcular o desvio médio absoluto com python e pandas
# df.mad()
dm1 = esc1.mad()
dm2 = esc2.mad()
print(dm1)
print(dm2)

IDADEMAE    2.857143
dtype: float64
IDADEMAE    5.85124
dtype: float64

In [ ]:
# calcular o variância com python e pandas
vara_1 = esc1.var(ddof=1)
vara_2 = esc2.var(ddof=1)
varp_1 = esc1.var(ddof=0) 
varp_2 = esc2.var(ddof=0)
print(vara_1)
print(vara_2)
print(varp_1)
print(varp_2)

IDADEMAE    13.0
dtype: float64
IDADEMAE    51.854545
dtype: float64
IDADEMAE    11.142857
dtype: float64
IDADEMAE    47.140496
dtype: float64

In [ ]:
# desvio padrão com python e pandas
dpa_1 = esc1.std(ddof=1)
dpa_2 = esc2.std(ddof=1)
dpp_1 = esc1.std(ddof=0)
dpp_2 = esc2.std(ddof=0)
print(dpa_1)
print(dpa_2)
print(dpp_1)
print(dpp_2)

IDADEMAE    3.605551
dtype: float64
IDADEMAE    7.20101
dtype: float64
IDADEMAE    3.338092
dtype: float64
IDADEMAE    6.865894
dtype: float64

Amplitude interquartil

In [ ]:
q_esc1 = esc1.quantile([0.25, 0.75]).values
q_esc1

array([[23.0],
       [27.5]], dtype=object)

In [ ]:
iqr_1 = q_esc1[1]-q_esc1[0]
iqr_1

array([4.5], dtype=object)

In [ ]:
q_esc2 = esc2.quantile([0.25, 0.75]).values
q_esc2

array([[17.5],
       [29.0]], dtype=object)

In [ ]:
iqr_2 = q_esc2[1]-q_esc2[0]
iqr_2

array([11.5], dtype=object)

In [ ]:
(esc1.std(ddof=0)/esc1.mean())*100

IDADEMAE    13.352367
dtype: float64

In [ ]:
(esc2.std(ddof=0)/esc2.mean())*100

IDADEMAE    27.868941
dtype: float64

In [ ]:
caminho_arquivo = '/content/drive/MyDrive/Colab Notebooks/EDA/eda_aula/res/database/data/SE/DNSE2017.csv'

# ler arquivo DBC dos nascidos vivos em 2017 em SE
sinasc = pd.read_csv(caminho_arquivo, dtype=str)

In [ ]:
sinasc['PESO'] = pd.to_numeric(sinasc['PESO'])
sinasc['IDADEMAE'] = pd.to_numeric(sinasc['IDADEMAE'])
sinasc['IDADEPAI'] = pd.to_numeric(sinasc['IDADEPAI'])
sinasc['APGAR1'] = pd.to_numeric(sinasc['APGAR1'])
sinasc['APGAR5'] = pd.to_numeric(sinasc['APGAR5'])

sinasc['QTDFILVIVO'] = pd.to_numeric(sinasc['QTDFILVIVO']).astype(pd.Int64Dtype())
sinasc['QTDFILMORT'] = pd.to_numeric(sinasc['QTDFILMORT']).astype(pd.Int64Dtype())
sinasc['SEMAGESTAC'] = pd.to_numeric(sinasc['SEMAGESTAC']).astype(pd.Int64Dtype())
sinasc['CONSPRENAT'] = pd.to_numeric(sinasc['CONSPRENAT']).astype(pd.Int64Dtype())
sinasc['SERIESCMAE'] = pd.to_numeric(sinasc['SERIESCMAE']).astype(pd.Int64Dtype())
sinasc['QTDPARTCES'] = pd.to_numeric(sinasc['QTDPARTCES']).astype(pd.Int64Dtype())
sinasc['QTDPARTNOR'] = pd.to_numeric(sinasc['QTDPARTNOR']).astype(pd.Int64Dtype())
sinasc['QTDGESTANT'] = pd.to_numeric(sinasc['QTDGESTANT']).astype(pd.Int64Dtype())

In [ ]:
# filtro de mães que fizeram parto normal
normal = sinasc[sinasc.PARTO == '1']
#filtro de parto cesárea
cesarea = sinasc[sinasc.PARTO == '2']

In [ ]:
# média
media_normal = normal.IDADEMAE.mean()
media_cesarea = cesarea.IDADEMAE.mean()
media_normal, media_cesarea

(24.98357030015798, 27.634743425919698)

In [ ]:
# desvio padrao
dp_normal = normal.IDADEMAE.std()
dp_cesarea = cesarea.IDADEMAE.std()
dp_normal, dp_cesarea

(6.7131238327425935, 6.732200555321305)

In [ ]:
# Intervalo inter-quartil
q_normal = normal.IDADEMAE.quantile([0.25, 0.75]).values
q_cesarea = cesarea.IDADEMAE.quantile([0.25, 0.75]).values

q_normal[1]-q_normal[0], q_cesarea[1]-q_cesarea[0]

(10.0, 11.0)

In [ ]:
# coeficiente de variacao
dp_normal*100/media_normal, dp_cesarea*100/media_cesarea

(26.870154073615907, 24.361364430135843)

In [ ]:
normal.PESO.mean(), cesarea.PESO.mean()

(3192.6047932578354, 3262.2962539511736)

In [ ]:
normal.PESO.std(), cesarea.PESO.std()

(555.2919465469533, 598.5973542998237)

In [ ]:
pre_natal_0 = sinasc[sinasc.CONSULTAS == '1']
pre_natal_1_3 = sinasc[sinasc.CONSULTAS == '2']
pre_natal_4_6 = sinasc[sinasc.CONSULTAS == '3']
pre_natal_7 = sinasc[sinasc.CONSULTAS == '4']

In [ ]:
pre_natal_0.PESO.mean(), pre_natal_1_3.PESO.mean(), pre_natal_4_6.PESO.mean(), pre_natal_7.PESO.mean()

(3085.7057142857143, 3022.836124401914, 3166.4481224417154, 3295.601250066211)

In [ ]:
pre_natal_0.PESO.std(), pre_natal_1_3.PESO.std(), pre_natal_4_6.PESO.std(), pre_natal_7.PESO.std()

(676.3215285616058, 765.4774563785681, 600.6850101167469, 500.74534594318817)

Distribuição de frequência

In [ ]:
sinasc.IDADEMAE

0        28
1        39
2        33
3        35
4        21
         ..
16538    32
16539    37
16540    37
16541    37
16542    27
Name: IDADEMAE, Length: 16543, dtype: Int64

In [ ]:
intervalos = pd.cut(sinasc.IDADEMAE,[0, 9, 14, 19, 24, 29, 34, 39, 44, 49, 54, 59])
intervalos

0        (24, 29]
1        (34, 39]
2        (29, 34]
3        (34, 39]
4        (19, 24]
           ...
16538    (29, 34]
16539    (34, 39]
16540    (34, 39]
16541    (34, 39]
16542    (24, 29]
Name: IDADEMAE, Length: 16543, dtype: category
Categories (11, interval[int64]): [(0, 9] < (9, 14] < (14, 19] < (19, 24] ... (39, 44] < (44, 49] <
                                   (49, 54] < (54, 59]]

In [ ]:
faixa_etaria = sinasc.IDADEMAE.groupby(intervalos)
faixa_etaria

In [ ]:
# frequência absoluta
dist_faixa_etaria = faixa_etaria.agg(['count'])
# SELECT AVERAGE(1), FAIXA_ETARIA FROM SINASC GROUP BY FAIXA_ETARIA
dist_faixa_etaria

          count
IDADEMAE
(0, 9]        0
(9, 14]     297
(14, 19]   3832
(19, 24]   4300
(24, 29]   3498
(29, 34]   2602
(34, 39]   1581
(39, 44]    392
(44, 49]     35
(49, 54]      1
(54, 59]      1

In [ ]:
# frequência relativa
# def freq_rel(x):
#   return x.count()/sinasc.IDADEMAE.count()

freq_rel = lambda x: x.count()/sinasc.IDADEMAE.count()

dist_faixa_etaria = faixa_etaria.agg(['count',freq_rel])
dist_faixa_etaria

          count  <lambda_0>
IDADEMAE
(0, 9]        0    0.000000
(9, 14]     297    0.017958
(14, 19]   3832    0.231695
(19, 24]   4300    0.259992
(24, 29]   3498    0.211500
(29, 34]   2602    0.157325
(34, 39]   1581    0.095592
(39, 44]    392    0.023702
(44, 49]     35    0.002116
(49, 54]      1    0.000060
(54, 59]      1    0.000060

In [ ]:
# freq percentual
freq_p = lambda x: x.count()*100/sinasc.IDADEMAE.count()

dist_faixa_etaria = faixa_etaria.agg(['count',freq_rel, freq_p])
dist_faixa_etaria

          count  <lambda_0>  <lambda_1>
IDADEMAE
(0, 9]        0    0.000000    0.000000
(9, 14]     297    0.017958    1.795755
(14, 19]   3832    0.231695   23.169478
(19, 24]   4300    0.259992   25.999154
(24, 29]   3498    0.211500   21.150009
(29, 34]   2602    0.157325   15.732511
(34, 39]   1581    0.095592    9.559224
(39, 44]    392    0.023702    2.370155
(44, 49]     35    0.002116    0.211621
(49, 54]      1    0.000060    0.006046
(54, 59]      1    0.000060    0.006046

In [ ]:
# frequência acumulada absoluta
faixa_etaria.count().cumsum()

IDADEMAE
(0, 9]          0
(9, 14]       297
(14, 19]     4129
(19, 24]     8429
(24, 29]    11927
(29, 34]    14529
(34, 39]    16110
(39, 44]    16502
(44, 49]    16537
(49, 54]    16538
(54, 59]    16539
Name: IDADEMAE, dtype: int64

In [ ]:
# frequência acumulada relativa
faixa_etaria.count().cumsum()/sinasc.IDADEMAE.count()

IDADEMAE
(0, 9]      0.000000
(9, 14]     0.017958
(14, 19]    0.249652
(19, 24]    0.509644
(24, 29]    0.721144
(29, 34]    0.878469
(34, 39]    0.974061
(39, 44]    0.997763
(44, 49]    0.999879
(49, 54]    0.999940
(54, 59]    1.000000
Name: IDADEMAE, dtype: float64

In [ ]:
# frequência acumulada percentual
faixa_etaria.count().cumsum()*100/sinasc.IDADEMAE.count()

IDADEMAE
(0, 9]        0.000000
(9, 14]       1.795755
(14, 19]     24.965234
(19, 24]     50.964387
(24, 29]     72.114396
(29, 34]     87.846907
(34, 39]     97.406131
(39, 44]     99.776286
(44, 49]     99.987907
(49, 54]     99.993954
(54, 59]    100.000000
Name: IDADEMAE, dtype: float64